{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
    <div class="container center_div">
		<div class="form">
			<div class="row">
				<div class="col-6 col-md-12">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-success">
                            save
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
